.App {
	text-align: center;
	margin: 20px;
}

.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
	display: -ms-flexbox;
	display: flex !important;
}

.ui.modal.transition.visible.active {
	margin-top: 0 !important;
}

a.startTour {
	position: relative;
	top: 6px;
}
